* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-seriffff;
  
}
li {
    list-style: none;
  }
a {
    text-decoration: none;
    color: #000;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.4);
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.scrollY{
    background: rgba(255, 255, 255, 1);
}  
header:hover {
    background: rgba(255, 255, 255, 1);
}
/*--------------menu------------ */
.logo {
    flex: 1;
}
.logo img {
    height: 70px;
}
.menu {
    flex: 3;
    display: flex;
   
}
.menu li {
    padding: 0 24px 0 24px;
    position: relative;
}
.menu li:hover .sub-menu{
    visibility: visible ;
    top: 44px;
    
}
.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px solid #ccc;
    left: 4px;
    visibility: hidden;
    top: 50px;
    transition: 0.3s;
    z-index: 1;
    background-color: aliceblue;
}    
.sub-menu li{
    padding: 10px 0 10px 20px;
}
.sub-menu ul li a{
    font-weight: normal !important;
}
.menu li  a{
    font-size: 16px;
    font-weight: bold;
}
.other {
    flex: 1;
    display: flex;
}
.other li {
    position: relative;
    padding: 0 12px;
}
.other li::after {
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: #101010;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.other li:last-child::after{
    display: none;
}
.other li:first-child {
    position: relative;
}
.other li:first-child input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}
.other li:first-child i {
    position: absolute;
    right: 10px;
}
/*--------------silder------------ */
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding-top: 56.25%;
    transition: 0.3s;
  }
  
  .aspect-ratio-169 img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
.dot-container {
    width: 100%;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    ;
}
.dot {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 12px;
    cursor: pointer;
}
.active{
    background-color: #1d1616;
}
#Slider {
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
/*--------------app------------ */
.App-container{
    text-align: center;
    align-items: center;
    padding: 50px 0 50px 0;
}
.app-download{
    margin: 50px;
}
.app-download a img{
    height: 50px;
}
.App-container p{
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;

}
.App-container input{
    margin-top:20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000;
    padding-bottom: 24px;
    width: 400px;
    outline: none;
}
/*--------------footer------------ */
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}
.footer-top img{
    height: 50px;
}
.footer-top li {
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background: #ccc;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.footer-top li:last-child::after{
    display: none;
}
.footer-top li:last-child a{
    margin: 0 12px;
    color: #5c5a5a;
}
/*--------------Danhmuc------------ */
.danhmuc {
    padding: 100px 0 0;

}
.danhmuc-top {
    padding-bottom: 50px;
}
.danhmuc-top p {
    font-family:sans-serif, Helvetica, Arial;
    margin: 0 12px;
    font-size: 12px;
}
.danhmuc-left{
    width: 20%;
    border: 1px solid #ccc;
}
.danhmuc-right{
    width: 80%;
}
.danhmuc-right-itemtop:first-child{
    font-size: 16px;
    font-weight: bold;
    height: 30px;
}
.danhmuc-right-itemtop{
    padding: 0 12px;
    height:  30px;
    display: flex;
    align-items: center;
}
.danhmuc-right-itemtop select{
    height: 24px;
}
